<p>{{selected.title}}</p>

<div *ngIf="matchList != null" class="d-flex justify-content-end">
  <div>
    <ul class="list-group align-content-center" *ngFor="let match of matchList">
      <li class="list-group-item bg-dark">{{match.startDate}} : {{match.startTime}}</li>
      <li class="list-group-item bg-dark" (click)="getSeriesMatchById(match.id)">
       <span *ngIf="match.team1.id === match.winner.id" class="text-success">W&nbsp;&nbsp;</span>
        <span *ngIf="match.team1.id != match.winner.id" class="text-danger">L&nbsp;&nbsp;</span>
        <img src="{{match.team1.organization.logoURL}}" style="max-height: 50px; max-width: 50px">
        VS <img src="{{match.team2.organization.logoURL}}" style="max-height: 50px; max-width: 50px">
        <span *ngIf="match.team2.id === match.winner.id" class="text-success">&nbsp;&nbsp;W</span>
        <span *ngIf="match.team2.id != match.winner.id" class="text-danger">&nbsp;&nbsp;L</span>
      </li>
    </ul>
  </div>
</div>
