.card-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: black;
}

.card-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  color: black;
}

#gamesMatchList, #gamesMatchList1{
  background-color: rgba(15,41,47,0.7);
  border-radius: 20px;
  margin: 5px;
}
#gamesMatchList2{
  background-color: rgba(20, 160, 152, 0.4);
  border-radius: 20px;
  margin: 5px;
}

.card-title {
  /* text-transform: uppercase; */
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 200;
  color: #ccc;
}

.card-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  color: #ccc;
}

.card {
  background-color: #0F292F;
}

.comment-btn {
  background-color: #14A098;
  color: #fff;
}

.comment-btn:hover {
  background-color: #fff;
  border-color: #14A098;
  color: #14A098;
}

.card-meta {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin-top: -10px;
  color: #ccc;
}

.card-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  /* color: #14A098; */
  color: #CB2D6F;
}
