<a href="{{selected.websiteURL}}"><img src="{{selected.imgURL}}"></a>

<div *ngIf="matchList != null" class="container-fluid float-right" style="width: 280px">
  <div>
    <ul id="gamesMatchList" class="list-group align-content-center" *ngFor="let match of matchList">
      <li id="gamesMatchList1" class="list-group-item ">{{match.startDate | date}} : {{match.startTime}}</li>
      <li id="gamesMatchList2" class="list-group-item " (click)="getSeriesMatchById(match.id)">
        <span *ngIf="match.team1.id === match.winner.id" class="text-success"> <strong> W </strong>&nbsp;&nbsp;</span>
        <span *ngIf="match.team1.id != match.winner.id" class="text-danger"> <strong> L </strong>&nbsp;&nbsp;</span>
        <img src="{{match.team1.organization.logoURL}}" style="max-height: 50px; max-width: 50px">
        VS <img src="{{match.team2.organization.logoURL}}" style="max-height: 50px; max-width: 50px">
        <span *ngIf="match.team2.id === match.winner.id" class="text-success">&nbsp;<strong>&nbsp;W </strong></span>
        <span *ngIf="match.team2.id != match.winner.id" class="text-danger">&nbsp;&nbsp;<strong> L </strong></span>
      </li>
    </ul>
  </div>
</div>

<div class="col-md-8" style="margin-top: 100px">
  <div *ngFor="let article of gameArticles">
    <!-- Blog Post -->
    <div class="card mb-4">
      <img class="card-img-top" src="{{article.image}}" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title">{{article.title}}</h2>
        <p class="card-text">{{article.content}}</p>
        <a class="btn btn-primary" (click)="navigateToArticle(article.id)">Read More &rarr;</a>
      </div>
      <div class="card-footer text-muted">
        Written: {{article.createDate}}
        <a href="#">{{article.author.firstName}} {{article.author.lastName}}</a>
      </div>
    </div>
  </div>
</div>
