main {
  background-color: #cccccc;
  color: black;
}

#dashboard {
	display: grid;
	grid-template-columns: repeat(2, 100px);
	grid-template-rows: repeat(2, 100px);
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.personal-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#personal-info-form-container {
  flex: 5;
}

#avatar-container {
  flex: 1;
  padding-right: 5em;
  padding-left: 5em;
}

.d-flex.flex-row {
  padding-bottom: 10px;
}

#dashboard-avatar-card {
  border: none;
  background-color: #cccccc;
  text-align: center;
  padding-top: 10px;
}

#regular-buttons button {
  margin-right: 5px;
  margin-bottom: 5px;
}

#publish-button {
  float: right;
}

.d-flex {
  display: inline-flex;
  justify-content: space-evenly;
}

#fav-teams-container {
  min-height: 225px;
}

.fav-team-div, .fav-org-div {
  margin-left: 15px;
  margin-right: 15px;
}

.popover-body {
  padding: 0rem 0rem;
  background-color: black;
}

.fav-team-div > img {
  width: 70px;
  height: 70px;
}

ul {
  list-style-type: none;
}
