<div class="container-fluid">
  <div class="row d-flex d-md-block flex-nowrap wrapper">
      <div class="col-md-2 float-left col-1 pl-0 pr-0 collapse width show" id="sidebar">
          <div class="list-group border-0 card bg-faded text-center text-md-left">
              <a href="#menu1" class="list-group-item d-inline-block collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-dashboard"></i> <span class="hidden-sm-down">Item 1</span> </a>
              <div class="collapse" id="menu1">
                  <a href="#menu1sub1" class="list-group-item" data-toggle="collapse" aria-expanded="false">Subitem 1 </a>
                  <div class="collapse" id="menu1sub1">
                      <a href="#" class="list-group-item" data-parent="#menu1sub1">Subitem 1 a</a>
                      <a href="#" class="list-group-item" data-parent="#menu1sub1">Subitem 2 b</a>
                      <a href="#menu1sub1sub1" class="list-group-item" data-toggle="collapse" aria-expanded="false">Subitem 3 c </a>
                      <div class="collapse" id="menu1sub1sub1">
                          <a href="#" class="list-group-item" data-parent="#menu1sub1sub1">Subitem 3 c.1</a>
                          <a href="#" class="list-group-item" data-parent="#menu1sub1sub1">Subitem 3 c.2</a>
                      </div>
                      <a href="#" class="list-group-item" data-parent="#menu1sub1">Subitem 4 d</a>
                      <a href="#menu1sub1sub2" class="list-group-item" data-toggle="collapse" aria-expanded="false">Subitem 5 e </a>
                      <div class="collapse" id="menu1sub1sub2">
                          <a href="#" class="list-group-item" data-parent="#menu1sub1sub2">Subitem 5 e.1</a>
                          <a href="#" class="list-group-item" data-parent="#menu1sub1sub2">Subitem 5 e.2</a>
                      </div>
                  </div>
                  <a href="#" class="list-group-item" data-parent="#menu1">Subitem 2</a>
                  <a href="#" class="list-group-item" data-parent="#menu1">Subitem 3</a>
              </div>
              <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-film"></i> <span class="hidden-sm-down">Item 2</span></a>
              <a href="#menu3" class="list-group-item d-inline-block collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-book"></i> <span class="hidden-sm-down">Item 3 </span></a>
              <div class="collapse" id="menu3">
                  <a href="#" class="list-group-item" data-parent="#menu3">3.1</a>
                  <a href="#menu3sub2" class="list-group-item" data-toggle="collapse" aria-expanded="false">3.2 </a>
                  <div class="collapse" id="menu3sub2">
                      <a href="#" class="list-group-item" data-parent="#menu3sub2">3.2 a</a>
                      <a href="#" class="list-group-item" data-parent="#menu3sub2">3.2 b</a>
                      <a href="#" class="list-group-item" data-parent="#menu3sub2">3.2 c</a>
                  </div>
                  <a href="#" class="list-group-item" data-parent="#menu3">3.3</a>
              </div>
          </div>
      </div>
      <main class="col-md-10 float-left col px-5 px-md-3 py-3 main">

          <h1 class="display-3 hidden-xs-down">{{userProfile.firstName}}'s Dashboard</h1>

          <a id="features"></a>
          <hr>
          <p class="lead mt-5">
              Some sort of sample text or whatever
          </p>
          <div class="row my-4">
              <div class="col-lg-3 col-md-4">
                  <div class="card card-inverse bg-inverse mt-3">
                      <div class="card-block">
                          <h3 class="card-title">{{username}}</h3>
                          <img class="card-img img-fluid" src="https://upload.wikimedia.org/wikipedia/en/thumb/7/7d/Astralis_logo.svg/512px-Astralis_logo.svg.png"
                          style="max-height: 100px; max-width: 100px;">
                      </div>
                  </div>
              </div>
              <div class="col-lg-9 col-md-8">
                  <div class="table-responsive">
                    <label for="fav-team-match-stats"><h4>Latest Results</h4></label>
                      <table class="table table-striped" id="fav-team-match-stats">
                          <thead class="thead-inverse">
                              <tr>
                                  <th>Game</th>
                                  <th>Series</th>
                                  <th>Match</th>
                                  <th>Winner</th>
                                  <th>Final Score</th>
                                  <th>Date</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>1,001</td>
                                  <td>1,001</td>
                                  <td>responsive</td>
                                  <td>bootstrap</td>
                                  <td>cards</td>
                                  <td>cards</td>
                              </tr>
                              <tr>
                                  <td>1,002</td>
                                  <td>1,002</td>
                                  <td>rwd</td>
                                  <td>web designers</td>
                                  <td>theme</td>
                                  <td>theme</td>
                              </tr>
                              <tr>
                                  <td>1,003</td>
                                  <td>1,003</td>
                                  <td>free</td>
                                  <td>open-source</td>
                                  <td>download</td>
                                  <td>download</td>
                              </tr>
                              <tr>
                                  <td>1,003</td>
                                  <td>1,003</td>
                                  <td>frontend</td>
                                  <td>developer</td>
                                  <td>coding</td>
                                  <td>coding</td>
                              </tr>
                              <tr>
                                  <td>1,004</td>
                                  <td>1,004</td>
                                  <td>migration</td>
                                  <td>bootstrap 4</td>
                                  <td>mobile-first</td>
                                  <td>mobile-first</td>
                              </tr>
                              <tr>
                                  <td>1,005</td>
                                  <td>1,005</td>
                                  <td>navbar</td>
                                  <td>sticky</td>
                                  <td>jumbtron</td>
                                  <td>jumbtron</td>
                              </tr>
                              <tr>
                                  <td>1,006</td>
                                  <td>1,006</td>
                                  <td>collapse</td>
                                  <td>affix</td>
                                  <td>submenu</td>
                                  <td>submenu</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
          <!--/row-->

          <a id="more"></a>
          <hr>
          <h2 class="sub-header mt-5">Articles by logged in user</h2>
          <div class="mb-3">
              <div class="card-deck">
                  <div class="card">
                    <img src="https://images.tech.co/wp-content/uploads/2019/12/19112253/future-gaming-708x400.jpg" class="card-img-top" alt="...">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Article Title</h5>
                        <p class="card-text">First paragraph of article maybe</p>
                        <p class="card-text"><small class="text-muted">Last comment 3 mins ago</small></p>
                        <button class="btn mt-auto btn-primary">Go to article</button>
                    </div>
                  </div>
                  <div class="card">
                    <img src="https://www.intelextrememasters.com/season-14/katowice/wp-content/uploads/2019/11/20190228_Bart-Oerbekke_IEM-Katowice_05453-e1572862616677.jpg" class="card-img-top" alt="...">
                    <div class="card-body d-flex flex-column">
                      <h5 class="card-title">Article Title</h5>
                      <p class="card-text">First paragraph of article maybe</p>
                      <p class="card-text"><small class="text-muted">Last comment 3 mins ago</small></p>
                      <button class="btn mt-auto btn-primary">Go to article</button>
                  </div>
                </div>
                <div class="card">
                  <img src="https://www.gamersdecide.com/sites/default/files/styles/news_images/public/content-images/news/2017/02/23/37-best-overwatch-cosplays-female/header.jpg" class="card-img-top" alt="...">
                  <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Article Title</h5>
                    <p class="card-text">First paragraph of article maybe</p>
                    <p class="card-text"><small class="text-muted">Last comment 3 mins ago</small></p>
                    <button class="btn mt-auto btn-primary">Go to article</button>
                </div>
              </div>
              <div class="card">
                <img src="https://esportsobserver.com/wp-content/uploads/2018/09/rlcs-logo.png" class="card-img-top" alt="...">
                <div class="card-body d-flex flex-column">
                  <h5 class="card-title">Article Title</h5>
                  <p class="card-text">First paragraph of article maybe</p>
                  <p class="card-text"><small class="text-muted">Last comment 3 mins ago</small></p>
                  <button class="btn mt-auto btn-primary">Go to article</button>
              </div>
            </div>
              </div>
          </div>
          <!--/row-->

          <a id="flexbox"></a>
          <hr>
          <h2 class="mt-5">Articles related to favorites</h2>

          <div class="card-columns mb-3">
              <div class="card">
                  <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/proxy/PZZqxLhzcRN1ELqH16Vmo5pOAuqn5OEytEG4j-sUJIref8CcCgRD6GAcZAal273kg4H42XbDOe4hn7Us2_3-NKLLDIQn50JC-TACFAgKSWuVK0TajM3OuaY" alt="Card image cap">
                  <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Article Title</h5>
                    <p class="card-text">First paragraph of article maybe</p>
                    <button class="btn mt-auto btn-primary">Go to article</button>
                </div>
              </div>

              <div class="card">
                  <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/proxy/PZZqxLhzcRN1ELqH16Vmo5pOAuqn5OEytEG4j-sUJIref8CcCgRD6GAcZAal273kg4H42XbDOe4hn7Us2_3-NKLLDIQn50JC-TACFAgKSWuVK0TajM3OuaY" alt="Card image cap">
                  <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Article Title</h5>
                    <p class="card-text">First paragraph of article maybe</p>
                    <button class="btn mt-auto btn-primary">Go to article</button>
                </div>
              </div>

              <div class="card">
                  <div class="card-block">
                      <ul class="list-unstyled">
                          <li class="text-capitalize"><code class="text-lowercase">text-capitalize</code> Capitalize each word</li>
                          <li class="text-uppercase"><code class="text-lowercase">text-uppercase</code> Uppercase text</li>
                          <li class="text-success"><code>text-success</code> Contextual colors for text</li>
                          <li><code>text-muted</code> <span class="text-muted">Lighten with muted</span></li>
                          <li><code>text-info</code> <span class="text-muted">Info text color</span></li>
                          <li><code>text-danger</code> <span class="text-muted">Danger text color</span></li>
                          <li><code>text-warning</code> <span class="text-muted">Warning text color</span></li>
                          <li><code>text-primary</code> <span class="text-primary">Primary text color</span></li>
                      </ul>
                  </div>
              </div>

          </div>
          <!--/card-columns-->
          <hr>

      </main>
  </div>
</div>
