<nav class="shadow navbar navbar-expand-lg sticky-top rounded">
  <a class="navbar-brand"  [routerLink]="['/home']">ESportsNews</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
<!--      start of log in modal-->
      <li class="nav-item">
        <a *ngIf="!loggedIn()" class="nav-link" (click)="open(content)">Log In</a>
        <ng-template #content let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Log In</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form #userLogIn = "ngForm">
              <div class="form-group">
                <label for="username">Username</label>
                <div class="input-group">
                  <input type="text" id="username" class="form-control" placeholder="Username" name="username" ngModel >
                </div>
                <label for="password">Password</label>
                <div class="input-group">
                  <input type="password" id="password" class="form-control" placeholder="Password" name="password" ngModel >
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn submit-btn" (click)="logIn(userLogIn)">Submit</button>
          </div>
        </ng-template>
<!--        end of log in modal-->
        <a *ngIf="loggedIn()" class="nav-link" id="user-profile-link" [routerLink]="['/profile']">{{getUsername()}}</a>
      </li>
      <!-- START OF REGISTER MODAL -->
      <li class="nav-item">
        <a *ngIf="!loggedIn()" class="nav-link" tabindex="-1" (click)="open(registercontent)">Register</a>
        <ng-template id="modal-bg" #registercontent let-modal>
          <app-register></app-register>
        </ng-template>
        <a *ngIf="loggedIn()" class="nav-link" href="#" tabindex="-1" [routerLink]="['/home']" (click)="logOut()">Log Out</a>
      </li>
      <!-- END OF REGISTER MODAL -->
      <li class="nav-item dropdown">
        <div ngbDropdown class="d-inline-block">
          <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>Games</a>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem [routerLink]="['games/2']">CS:GO</button>
            <button ngbDropdownItem [routerLink]="['games/3']">Overwatch</button>
            <button ngbDropdownItem [routerLink]="['games/1']">League of Legends</button>
            <button ngbDropdownItem [routerLink]="['games/4']">Rocket League</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
