<!--<p>{{player.handle}}</p>-->
<!--<p *ngFor="let team of player.teams">{{team.organization.name}}</p>-->
<!--<p *ngFor="let stat of player.stats">{{stat.stat.statName}} : {{stat.value}}</p>-->
<br><br>
<h3 *ngFor="let team of player.teams">
  {{player.handle}}  <img  style="max-width: 75px" src="{{team.organization.logoURL}}">
</h3>
<!--Display button only if user isnt following player already-->
<div *ngIf="loggedIn">
<button class="btn btn-secondary" *ngIf="displayFollow(player)" (click)="addFavoritePlayer(player)">
  Follow
</button>
</div>
<br><br><br>
<table class="table table-dark" *ngFor="let team of player.teams">
  <thead>
  <tr>
    <th>
      Stat Name
    </th>
    <th>
      Career Average
    </th>
    <th class="text-center">
      Career Total
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let stat of getPlayersStats(player)">
    <td>
      {{stat.name}}
    </td>
    <td>
      {{stat.average}}
    </td>
    <td class="text-center">
      {{stat.value}}
    </td>
  </tr>
  </tbody>
</table>


<table class="table table-dark">
  <thead>
  <tr>
    <th>
      Team 1
    </th>
    <th>
      Team 2
    </th>
    <th>Date</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let singleMatch of recentMatches">
    <td (click)="navagateToMatch(singleMatch.id)">
      {{singleMatch.team1.organization.name}}
    </td>
    <td (click)="navagateToMatch(singleMatch.id)">
      {{singleMatch.team2.organization.name}}
    </td>
    <td>
      {{singleMatch.startDate}}
    </td>
  </tr>
  </tbody>
</table>
