<div class="container-fluid" id="matchDiv">
  <div id="team1Div" class="text-white container-fluid">
    <div>
      <h3 *ngIf="bout != null" id="team1Header" class="text-center">{{bout.team1.organization.name}}</h3>
      <table class="table table-dark">
        <thead>
        <tr>
          <th class="col">
            Player
          </th>
          <th class="col" *ngFor="let statName of bout.team1.game.gameStat">
            {{statName.statName}}
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let player of team1Players">
          <td>
            {{player.handle}}
          </td>
          <td *ngFor="let stat of player.stats">
            {{stat.value}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>


  <div id="team2Div" class="text-white container-fluid">
    <div>
      <h3 *ngIf="bout != null" id="team2Header" class="text-center">{{bout.team2.organization.name}}</h3>
      <table class="table table-dark">
        <thead>
        <tr>
          <th class="col">
            Player
          </th>
          <th class="col">
            Kills
          </th>
          <th class="col">
            Deaths
          </th>
          <th class="col">
            Assists
          </th>
          <th class="col">
            CS
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let player of team2Players">
          <td>
            {{player.handle}}
          </td>
          <td *ngFor="let stat of player.stats">
            {{stat.value}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
