.card-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #ccc;
}

.card-name {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  color: #ccc;
}

.card-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  /* color: #14A098; */
  color: #CB2D6F;
}

.card-meta {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: #ccc;
}

.card-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  color: #ccc;
}

