#team1Img{
  height: 50px;
  width: 50px;
}

#team2Img{
  height: 50px;
  width: 50px;
}

.card-title {
  font-family: 'Roboto', sans-serif;
  color: black;
}

.card-text {
  font-family: 'Open Sans', sans-serif;
  color: black;
}
