<div class="container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm  text-white" *ngFor="let match of matches|recentMatch:2">
        <h6 (click)="getSeriesMatchById(match.id)"><img id="team1Img" src="{{match.team1.organization.logoURL}}">
          VS <img id="team2Img" src="{{match.team2.organization.logoURL}}"><br>
          {{match.winner.organization.name}} wins!
        </h6>
      </div>
    </div>
  </div>
  <div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8 mt-5">
      <div *ngFor="let article of articles">
        <!-- Blog Post -->
        <div class="card mb-4">
          <img class="card-img-top" src="{{article.image}}" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">{{article.title}}</h2>
            <p class="card-text">{{article.content}}</p>
            <a class="btn comment-btn" (click)="navigateToArticle(article.id)">Read More &rarr;</a>
          </div>
          <div class="card-footer card-meta text-muted">
            Written: {{article.createDate}}
            <a href="#" class="card-link">{{article.author.firstName}} {{article.author.lastName}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
