<ngb-carousel >
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <h3 *ngFor="let match of matches"><img id="team1Img" src="{{match.team1.organization.logoURL}}">
       VS <img id="team2Img" src="{{match.team2.organization.logoURL}}"></h3>
    </div>
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
</ngb-carousel>

<div *ngFor="let article of articles">
  {{article.title}}
  {{article.content}}
</div>
